[Unit]
Description=Vero en Raf photobooth
After=multi-user.target

[Service]
User=root
WorkingDirectory=/home/raf/photobooth
ExecStart=/home/raf/photobooth/photobooth.sh
Restart=on-failure
RestartSec=3
#StandardOutput=tty

[Install]
WantedBy=multi-user.target
