[Unit]
Description=PiCamera Photobooth
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/raf/photobooth
ExecStart=/usr/local/bin/photobooth.py
Restart=on-failure
RestartSec=3
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
